#my-canvas {
  width: 100vw;
  height: 100vh;
}

/* 标签文本样式 */
.label-box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  color: #fff;
  font-size: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.6);
}
